* {
    margin: 0;
    padding: 0;
    }

.gradient_fondo{
    background-image: radial-gradient(circle farthest-side, #f8edd1, #f7c02b);
}
body,header,nav,main,aside,footer{
    border: 1px black solid;
    padding: 0.5%;
    margin: 0.5%;
    text-align: center;
}

header{ 
    display: inline-block;
    height: 159px;
    width: 159px;
}

nav{
    vertical-align: top;
    padding: 8px;
    display: inline-block;
    height: 165px;
    width: 75%;

}

main{
    display: inline-block;
    height: 500px ;
    width: 80%;
}

aside{
    display: inline-block;
    height: 500px;
    width: 15%;
}

li{
    
    display: inline-block;
    padding: 23px;

}
.logo{
    display: inline-block;
width: 158px;
height: 158px;

}

.nav_img{

    width: 130px;
}

figure>.nav_img{
    margin-left: 78px;
    margin-right: 78px;
}



