body {
    background: #030321;
    font-family: Arial;
}
hr{
    border: none;
    height: 120px;
}
        /*REDES SOCIALES*/

        main section ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 60px;
        }

        main section ul li {
            height: 70px;
            width: 90px;
        }

        main section ul li figure img {
            max-width: 60px;
            transition: 0.3s;
            border-radius: 20%;
        }

        main section ul li figure img:hover {
            max-width: 60px;
            border-radius: 20%;
            transition: 0.3s;
            filter: drop-shadow(0px 0px 16px rgba(246, 249, 249, 0.914));
        }



/*Tamaño modificado de algunos logos tecnológicos-------------*/

.img_width {
    margin: 1%;
    height: 130px;
}

/*Centrar las imagenes dentro de la caja de figure------------*/

figure {
    display: flex;
    justify-content: center;
}





/*PATITO LOADER-----------------------------------------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #2e1a34e4;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}

.loader h1 {
    color: white;
    font-size: 2.5em;
    font-family: 'Syncopate', sans-serif;
}

h1 a{
    text-decoration: none;
}

/*FOOTER-----------------------------------------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;

}



.titulos {
    text-align: center;
    margin: 1%;
    font-family: 'Syncopate', sans-serif;
    color: white;
    animation: fluido 30s ease-in-out infinite;
    background: linear-gradient(90deg, rgb(1, 196, 210) 0%, rgb(161, 18, 169) 35%, rgb(24, 232, 255) 100%);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}