header,
nav,
main,
aside,
footer {
    border: 1px solid black;
    margin: 10px;
    padding: 15px;

}

main {
    width: 70%;
    display: inline-block;

}

aside {
    width: 24.16%;
    display: inline-block;
}

header {
    height: 100px;
}

main {
    height: 500px;


}

aside {
    height: 500px;


}